<footer>

    <div class="footer-container">

        <div class="footer-left">
            <!-- <p>Footer Left</p> -->
            <img class="footer-logo" src="/images/tbs-logo-light.png">

            <div class="footer-socials">
                <a href="https://www.instagram.com/theblockchainschool" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/theblockchainsc" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/the-blockchain-school" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </div>


            <div class="aa">
                <p>Email: <a href="mailto: hello@theblockchainschool.io">hello@theblockchainschool.io</a>
                </p>
            </div>



        </div>
        <div class="footer-right">
            <div class="footer-col">
                <a href="/aboutUs" target="_blank">About us</a>
                <a href="#" target="_blank">Career</a>
                <a href="https://learn.theblockchainschool.io/privacy-policy-2/" target="_blank">Privacy Policy</a>
                <a href="https://learn.theblockchainschool.io/termsandconditions/" target="_blank">Terms and
                    Conditions</a>

            </div>

            <div class="footer-col">
                <a href="/waitlist" target="_blank">Learn</a>
                <a href="http://hiringnodes.com/" target="_blank">Hiring Nodes</a>
                <a href="/contact" target="_blank">Contact</a>
                <a href="/resources" target="_blank">Resources</a>
            </div>
        </div>
    </div>

</footer>