
<link rel="stylesheet" type="text/css" href="css/about.css">

<body>

    <nav class="navcontainer blue-nav">
        <a href="/"><img class="header-logo" src="images/tbs-logo-light.png"></a>
        <ul class="nav-links">
            <!-- <li><a href="#about">About</a></li>
            <li><a href="#programs">Programs</a></li>
            <li><a href="#community">Community</a></li> -->
            <li><a href="https://learn.theblockchainschool.io/">
                    <button class="header-btn">
                        Login / Signup
                    </button>
                </a>
            </li>

        </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>


    <div class="about-us-container">
        <h1 class="team-heading">About us</h1>
    </div>

    <div class="blue-container">
        <div class="team-container">

            <div class="vision-container">
                <div class="vision-content">
                    <h1> Our Vision</h1>
                    <p>
                        Our vision is to offer the community an ecosystem that supports and reinforces their learning
                        and earning post-learning
                        journey. The Blockchain School is an attempt to head towards a better and sustainable future
                        with the power of
                        education.
                    </p>

                    <!-- <p>The knowledge circulating and maximizing the opportunities around the world represents the
                        foundation of our society.
                        However, under our current educational system, the potential is locked within the books and
                        needs to be unlocked.</p> -->

                    <p><strong>The Blockchain School harvests the learning potential in Blockchain by providing the community a right set of knowledge
                    in the right way which will help them grow, expand, prosper and help the community to do the same with a single step.</strong></p>

                    <p>It is to help the community understand, experience, experiment, expand, and grow the
                        applications of this innovative and revolutionary technology called Blockchain. 
                        Focusing on vertical integration we are striving to
                        become the most trusted capability building partner for everything
                        in Blockchain.
                    </p>
                </div>
                <div class="vision-img">
                    <img src="images/team.png">
                </div>
            </div>

            <h1 style="text-align: center;">Our Team</h1>

            <div class="card-container">

                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/mentor-saurabh.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Saurabh Sharma</p>
                        <p class="team-desig">Founder and Creator</p>
                        <p class="team-desc">Marketing lead at The Dapp List, Advisor to several
                            blockchain projects.</p>

                        <div class="team-socials">
                            <a href="https://www.instagram.com/saurabh_personified " target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://twitter.com/theyoungdoer" target="_blank"><i
                                    class="fab fa-twitter"></i></a>
                            <a href="http://linkedin.com/in/iamsaurabh21" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <a href="" target="_blank"><i class="fab fa-facebook"></i></a> -->
                        </div>
                    </div>
                </div>


                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/mentor-rinkesh.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Rinkesh Gorasia</p>
                        <p class="team-desig">Lead Instructor and Mentor</p>
                        <p class="team-desc">Founder of Upskill India and Former Founder & CEO, Savior
                            Technologies | 3+ years of experience in Blockchain domain.</p>

                        <div class="team-socials">
                            <a href="https://www.instagram.com/rinks__g/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://twitter.com/rinks__g" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/rinksg/" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/mentor-sarthak.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Sarthak Sharma</p>
                        <p class="team-desig">Crypto Mentor & Analyst</p>
                        <p class="team-desc">Trader, Defi Enthusiast Researching, investing and trading Crypto Assets
                            since 2017</p>

                        <div class="team-socials">
                            <a href="https://www.linkedin.com/in/sarthak1806" target="_blank">
                                <i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>


                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/team/team-ishita.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Ishita Batra</p>
                        <p class="team-desig">Operations and Community</p>
                        <p class="team-desc">1.5 years of experience in the Ed-tech industry.</p>

                        <div class="team-socials">
                            <!-- <a href="https://www.instagram.com/saurabh_personified " target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://twitter.com/theyoungdoer" target="_blank"><i
                                    class="fab fa-twitter"></i></a> -->
                            <a href="http://linkedin.com/in/razoltheren" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <a href="" target="_blank"><i class="fab fa-facebook"></i></a> -->
                        </div>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/team/team-anmol.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Anmol Kumar</p>
                        <p class="team-desig">Tech and Frontend</p>
                        <p class="team-desc">2+ years of experience in Full Stack Development and UI/UX Design.</p>

                        <div class="team-socials">
                            <a href="https://www.github.com/anmolkr186 " target="_blank"><i
                                    class="fab fa-github"></i></a>
                            <a href="https://twitter.com/itsandyys" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="http://linkedin.com/in/anmolkumar18" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <a href="" target="_blank"><i class="fab fa-facebook"></i></a> -->
                        </div>
                    </div>
                </div>


                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/team/team-samraat.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Samraat Bansal</p>
                        <p class="team-desig">Tech and Backend</p>
                        <p class="team-desc">A tech maven & a CS undergrad with love for the MERN stack. Teaching
                            Assistant at Coding Ninjas.</p>
                
                        <div class="team-socials">
                            <a href="https://github.com/SamraatBansal" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/samraat-bansal-02904016b" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                            <!-- <a href="" target="_blank"><i class="fab fa-facebook"></i></a> -->
                        </div>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/team/team-smiti.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Smiti Mehrotra</p>
                        <p class="team-desig">Social Media & Program Manager</p>
                        <p class="team-desc">1+ years of experience in program management, social media marketing and
                            outreach.</p>

                        <div class="team-socials">
                            <a href="https://www.instagram.com/_smitii_/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/smiti-mehrotra-43b550191" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>


                <div class="team-card">
                    <div class="team-pic">
                        <img src="images/team/team-avishek.png">
                    </div>
                    <div class="team-images-2">
                        <p class="team-name">Avishek Singh</p>
                        <p class="team-desig">Social & Digital Marketing</p>
                        <p class="team-desc">2+ years of experience as SEO/SMO @Theamikusqriae.Inc | Created
                            pregadget.com, Crab Marketing Agency & Asansol
                            Lakshya Foundation</p>

                        <div class="team-socials">
                            <a href="https://www.instagram.com/avishek.singh.star/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="http://www.linkedin.com/in/avishek-singh-007" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/glide.js"></script> -->
    <!-- <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script> -->
    <!-- <script src="static/js/app.js"></script> -->
    <!-- <script src="static/js/nav.js"></script> -->


</body>

</html>