
    <link rel="icon" href="/images/title-icon.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/css/error.css">

    <!-- <link rel="stylesheet" type="text/css" href="glider.css"> -->
    <!-- <script src="glider.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css">

    <!-- Optional Theme Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css">

    <style>
        footer{
            background-color: black;
        }
    </style>
<body class="index-body">

    <div class="error-page">
        <header>
            <div class="header-logo">
                <img  src="/images/tbs-logo-light.png">
            </div>

            <a href="/">
                <h3><i class="fas fa-angle-left "></i> Back to Safety</h3>
            </a>
        </header>

        <div class="error-container">
            <img src="/images/error.png">
        
            <h2>Oops! There was an error processing your request.</h2>
            <p>Message: Page Not found (Error Code 404)</p>
        </div>

    </div>

</body>

