 <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/straighttosubstrate.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["DM Mono:300,300italic,regular,italic,500,500italic:latin,latin-ext","DM Sans:regular,italic,500,500italic,700:latin,latin-ext","Inter:100,200,300,regular,500,600,700,800,900"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <style>
      footer{
          background-color: #10011d;
      }
  </style>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-096GNLGJBS"></script>
  <script type="text/javascript">window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-096GNLGJBS', {'anonymize_ip': false});</script>
</head>
<body class="body">
  <div class="nav-section wf-section">
    <div class="nav-flex w-container">
      <div class="div-block"><img src="images/logo-light-full.png" loading="lazy" alt="" class="header-logo">
        <ul role="list" class="nav-list w-list-unstyled">
          <li class="list-item">
            <a href="#curriculum" class="nav-ll">Curriculum</a>
          </li>
          <li>
            <a href="#rewards-section" class="nav-ll">Rewards</a>
          </li>
          <li>
            <a href="#review-section" class="nav-ll">Reviews</a>
          </li>
        </ul>
      </div>
      <a href="https://t.me/theblockchainschoolhq" target="_blank" class="discord-btn w-button">Join our Community</a>
    </div>
  </div>
  <header id="hero" class="hero wf-section">
    <div class="hero-flex w-container">
      <div class="hero-left">
        <div class="hero-logo-container">
          <div class="hero-logo"><img src="images/Polkadot_Logo_Horizontal_White.svg" loading="lazy" alt="" class="image-12"></div>
        </div>
        <p class="paragraph mono-para-card mono-top">Straight to substrate</p>
        <h1 class="heading">An Extensive Roadmap to Get Started on Your Journey to Master Substrate and Polkadot</h1>
        <p class="paragraph hero-intro">Hit a homerun with your blockchain endeavors with this unique course intended to take you on a journey from prototype to production as you BUILD your way through Polkadot using Substrate.<br></p>
        <a href="/polkadotprogram/waitlist" data-w-id="7e1988c1-8c20-99b4-5b62-3a6bf18863d9" class="main-btn w-button">Join the Waitlist</a>
      </div>
      <div class="hero-right"><img src="images/polkadot-hero.png" width="1442.5" sizes="(max-width: 479px) 93vw, (max-width: 767px) 85vw, 44vw" srcset="images/polkadot-hero-p-500.png 500w, images/polkadot-hero-p-800.png 800w, images/polkadot-hero.png 1168w" alt="" class="image"></div>
    </div>
  </header>
  <div id="curriculum" class="video-section wf-section">
    <div class="container-div">
      <p class="paragraph mono-para-heading">About the program</p>
      <h1 class="sub-head">A Glimpse of What This Course Has in Store For You</h1>
    </div>
    <div style="padding-top:56.17021276595745%" class="video w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fxvm4tweFUWg%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dxvm4tweFUWg&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fxvm4tweFUWg%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="Tezos 101: Fundamentals, Protocol & Network | Course Trailer | The Blockchain School"></iframe></div>
  </div>
  <div id="curriculum" class="modules-section wf-section">
    <div class="container-div">
      <p class="paragraph mono-para-heading">curriculum</p>
      <h1 class="sub-head">Your One Stop Roadmap to cruise through everything Substrate</h1>
      <p class="paragraph sub-text">Explore the most comprehensive guide on the internet to understand and develop on Polkadot Blockchain through curated videos and case studies.</p>
      <div class="w-layout-grid card-grid">
        <div id="w-node-_24c71f24-171f-b597-b9aa-a2a9b50d419b-471ac1c5" class="card-course">
          <div class="card-reward-flex">
            <div class="card-image-mask"><img src="images/dotmodule1.svg" loading="lazy" width="87" alt="" class="card-img"></div>
            <div class="card-course-right">
              <div class="card-inner">
                <p class="paragraph mono-top-card">module 1</p>
                <p class="module-heading">Take it from the Top</p>
                <p class="paragraph para-normal">Let’s start with some humble ‘Wh’ Questions. Why Learn Substrate at all? Who is going to help me on this voyage? What all activities need to be done to buckle up for the real deal?</p>
              </div>
              <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_24c71f24-171f-b597-b9aa-a2a9b50d41b3-471ac1c5" class="card-course">
          <div class="card-reward-flex">
            <div class="card-image-mask"><img src="images/dotmodule2_1.svg" loading="lazy" width="87" alt="" class="card-img"></div>
            <div class="card-course-right">
              <div class="card-inner">
                <p class="paragraph mono-top-card">Module 2</p>
                <p class="module-heading">Meet our Protagonists: Polkadot and Substrate</p>
                <p class="paragraph para-normal">Introduction of the Substrate and the Polkadot ecosystem. Also scratch the surface of infamous Rust language.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_24c71f24-171f-b597-b9aa-a2a9b50d41cb-471ac1c5" class="card-course">
          <div class="card-reward-flex">
            <div class="card-image-mask"><img src="images/dotmodule3.svg" loading="lazy" width="87" alt="" class="card-img"></div>
            <div class="card-course-right">
              <div class="card-inner">
                <p class="paragraph mono-top-card">module 3</p>
                <p class="module-heading">The Foundation</p>
                <p class="paragraph para-normal">A flavour of what the future of this course holds. As you get a hang of Substrate architecture, pallets and project file structure, it’s time to create multi-node networks and testnets to do your first transaction.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_24c71f24-171f-b597-b9aa-a2a9b50d41e3-471ac1c5" class="card-course">
          <div class="card-reward-flex">
            <div class="card-image-mask"><img src="images/dotmodule4.svg" loading="lazy" width="87" alt="" class="card-img"></div>
            <div class="card-course-right">
              <div class="card-inner">
                <p class="paragraph mono-top-card">module 4</p>
                <p class="module-heading">All About Pallets</p>
                <p class="paragraph para-normal">It’s getting hotter here. Learn how to create a substrate pallet and macros. A module filled with multiple code walkthroughs that aim to equip you to take it to the next level.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_24c71f24-171f-b597-b9aa-a2a9b50d41fb-471ac1c5" class="card-course">
          <div class="card-reward-flex">
            <div class="card-image-mask"><img src="images/dotmodule5.svg" loading="lazy" width="87" alt="" class="card-img"></div>
            <div class="card-course-right">
              <div class="card-inner">
                <p class="paragraph mono-top-card">module 5</p>
                <p class="module-heading">Data Structures; Build, Test, Fix, Repeat</p>
                <p class="paragraph para-normal">An overview of the Linked-List and storage comparison of different data structures.  A how-to tutorial on unit testing.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_24c71f24-171f-b597-b9aa-a2a9b50d4213-471ac1c5" class="card-course">
          <div class="card-reward-flex">
            <div class="card-image-mask"><img src="images/dotmodule6.svg" loading="lazy" width="87" alt="" class="card-img"></div>
            <div class="card-course-right">
              <div class="card-inner">
                <p class="paragraph mono-top-card">module 6</p>
                <p class="module-heading">Game for Go Live?</p>
                <p class="paragraph para-normal">Decode all the go-live terminologies like consensus, security, transaction fee, governance and compatibility. Learn more about cross chain message passing and ultimately becoming a parachain.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="rewards-section" class="rewards-section wf-section">
    <div class="container-div rewards-margin-bottom">
      <p class="paragraph mono-para-heading">OUR first ever NFt COllection Launch</p>
      <h1 class="sub-head">Introducing Web3Legends</h1>
      <p class="paragraph sub-text">An NFT Tribute to the impactful leaders of Web3 for bringing a change in the entire space.</p>
    </div>
    <div class="rewards-upper-flex w-container">
      <div class="rewards-left">
        <h1 class="reward-heading">A complete incentivization roadmap to get you multiple opportunities to learn exciting rewards from Polkadot</h1>
        <ul role="list" class="rewards-list">
          <!-- <li class="list-with-icon-check bonus-check-points">Complete the entire Tezos Protocol Education Program.</li> -->
          <li class="list-with-icon-check bonus-check-points">Attempt all the quizzes, tasks and final course-ending assignment</li>
          <li class="list-with-icon-check bonus-check-points">Participating in technical and non-technical community activities</li>
          <li class="list-with-icon-check bonus-check-points">Referring the program to your friends and colleagues which increases your chances of winning exclusive bonuses.</li>
        </ul>
      </div>
      <div class="rewards-image-mask"><img src="images/nft-asset.png" width="1442.5" sizes="100vw" srcset="images/nft-asset-p-500.png 500w, images/nft-asset-p-800.png 800w, images/nft-asset-p-1080.png 1080w, images/nft-asset.png 1440w" alt="" class="image"></div>
      <a href="#" class="nft-btn w-button">Checkout Collection on OpenSea</a>
    </div>
    <div class="nft-flex w-container">
      <div class="rewards-bottom-flex">
        <div class="reward-card-container">
          <div class="card-reward">
            <div class="card-reward-flex">
              <div class="reward-card-image-mask"><img src="images/module2.svg" loading="lazy" width="87" alt="" class="reward-card-img"></div>
              <div class="reward-card-right">
                <div class="reward-card-inner">
                  <p class="reward-card-heading">Rubber Hits the Road</p>
                  <p class="paragraph para-normal-light">A detailed case study of a project and dApp that was built using Tezos.</p>
                </div>
                <div data-hover="false" data-delay="0" class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div class="text-block">Know more</div>
                  </div>
                  <nav class="w-dropdown-list">
                    <a href="#" class="w-dropdown-link">Link 1</a>
                    <a href="#" class="w-dropdown-link">Link 2</a>
                    <a href="#" class="w-dropdown-link">Link 3</a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reward-card-container">
          <div class="card-reward">
            <div class="card-reward-flex">
              <div class="reward-card-image-mask"><img src="images/module2.svg" loading="lazy" width="87" alt="" class="reward-card-img"></div>
              <div class="reward-card-right">
                <div class="reward-card-inner">
                  <p class="reward-card-heading">Rubber Hits the Road</p>
                  <p class="paragraph para-normal-light">A detailed case study of a project and dApp that was built using Tezos.</p>
                </div>
                <div data-hover="false" data-delay="0" class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div class="text-block">Know more</div>
                  </div>
                  <nav class="w-dropdown-list">
                    <a href="#" class="w-dropdown-link">Link 1</a>
                    <a href="#" class="w-dropdown-link">Link 2</a>
                    <a href="#" class="w-dropdown-link">Link 3</a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="reward-card-container">
          <div class="card-reward">
            <div class="card-reward-flex">
              <div class="reward-card-image-mask"><img src="images/module2.svg" loading="lazy" width="87" alt="" class="reward-card-img"></div>
              <div class="reward-card-right">
                <div class="reward-card-inner">
                  <p class="reward-card-heading">Rubber Hits the Road</p>
                  <p class="paragraph para-normal-light">A detailed case study of a project and dApp that was built using Tezos.</p>
                </div>
                <div data-hover="false" data-delay="0" class="w-dropdown">
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="w-icon-dropdown-toggle"></div>
                    <div class="text-block">Know more</div>
                  </div>
                  <nav class="w-dropdown-list">
                    <a href="#" class="w-dropdown-link">Link 1</a>
                    <a href="#" class="w-dropdown-link">Link 2</a>
                    <a href="#" class="w-dropdown-link">Link 3</a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="takeaway-section" class="takeaway-section wf-section">
    <div class="takeaway-flex w-container">
      <div class="takeaway-image-mask"><img src="images/growth-graph.png" width="1442.5" sizes="(max-width: 479px) 93vw, (max-width: 767px) 88vw, (max-width: 991px) 45vw, 46vw" srcset="images/growth-graph-p-500.png 500w, images/growth-graph-p-800.png 800w, images/growth-graph-p-1080.png 1080w, images/growth-graph.png 1263w" alt="" class="image"></div>
      <div class="takeway-right">
        <div class="container-div takeaways-container">
          <p class="paragraph mono-para-heading left-align">What you will get from this course</p>
          <h1 class="sub-head takeaway-heading">Key Takeaways</h1>
        </div>
        <div class="w-layout-grid grid">
          <div class="card-takeway">
            <div class="takeway-card-inner">
              <div class="reward-card-inner">
                <p class="reward-card-heading">Level Up</p>
                <p class="paragraph para-normal-light">Beginner or a pro at the blockchain development game, Rust is hands down the OG language in this space. With the growth of alternate ETH solutions, it is a must have skill to take your game up a notch.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="card-takeway">
            <div class="takeway-card-inner">
              <div class="reward-card-inner">
                <p class="reward-card-heading">Create a Difference</p>
                <p class="paragraph para-normal-light">L1s are fighting for the coveted 2nd spot on Coinmarketcap. L2s have limited seats. But L0 is an absolutely different approach to this realm. With Substrate and Polkadot ticked off from your to-do list, you are going to be in demand.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="card-takeway">
            <div class="takeway-card-inner">
              <div class="reward-card-inner">
                <p class="reward-card-heading">Be a Trailblazer</p>
                <p class="paragraph para-normal-light">With massive adoption of the crypto realm, the next obvious step is to figure out interoperability. That’s what Polkadot is pioneering. Get an early mover advantage by starting your BUIDLer journey.</p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="card-takeway">
            <div class="takeway-card-inner">
              <div class="reward-card-inner">
                <p class="reward-card-heading-copy">Be Irresistibly Hireable</p>
                <p class="paragraph para-normal-light">Blockchain expertise is the fastest-growing skill according to the latest skills index and is now one of the hottest in the job market. Set yourself up for your next career upgrade.<br></p>
              </div>
              <div data-hover="false" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="w-icon-dropdown-toggle"></div>
                  <div class="text-block">Know more</div>
                </div>
                <nav class="w-dropdown-list">
                  <a href="#" class="w-dropdown-link">Link 1</a>
                  <a href="#" class="w-dropdown-link">Link 2</a>
                  <a href="#" class="w-dropdown-link">Link 3</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <h1 class="reward-heading">A complete incentivization roadmap to get you multiple opportunities to learn exciting rewards from Tezos</h1>
        <ul role="list" class="rewards-list">
          <li class="list-with-icon-check bonus-check-points">Complete the entire Tezos Protocol Education Program.</li>
          <li class="list-with-icon-check bonus-check-points">Attempt all the quizzes, tasks and final course-ending assignment</li>
          <li class="list-with-icon-check bonus-check-points">Participating in technical and non-technical community activities</li>
          <li class="list-with-icon-check bonus-check-points">Referring the program to your friends and colleagues which increases your chances of winning exclusive bonuses.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="social-proof-div wf-section">
    <div class="container-div">
      <div class="white-card flex-container testimonial-card">
        <div class="card-image-mask man-img"><img src="images/masked_person.png" loading="lazy" width="304" sizes="100vw" srcset="images/masked_person-p-500.png 500w, images/masked_person-p-800.png 800w, images/masked_person-p-1080.png 1080w, images/masked_person-p-1600.png 1600w, images/masked_person-p-2000.png 2000w, images/masked_person.png 2141w" alt="" class="image-2"></div>
        <div class="testimonial-right">
          <h1 class="heading testimonial-heading">“The Blockchain School has a knack for explaining blockchain terms in very simple terms”</h1>
          <p class="paragraph testimonial-para">Amazing, interactive sessions conducted with an engaging, friendly manner. I&#x27;m at a more comfortable position with DeFi and Crypto investments now :) Thank you team for also adding us to Discord!</p>
          <p class="paragraph testimonial-para para-bold">Susmitha</p>
          <p class="paragraph testimonial-para">Job in Non-Tech Field</p>
        </div>
      </div>
    </div>
  </div>
  <div class="features-section wf-section">
    <div class="container-div">
      <p class="paragraph mono-para-heading">Program framework</p>
      <h1 class="sub-head">Learn, Get a chance to win NFTs &amp; Certify for Straight to Substrate Program</h1>
      <p class="paragraph sub-text">A deep dive into the substrate and hence Polkadot Ecosystem with an opportunity to get funded for your project.</p>
    </div>
    <div class="columns w-row">
      <div class="w-col w-col-4">
        <div class="white-card card-padding framework-card">
          <div class="feature-img-mask"><img src="images/dottimeline1.svg" loading="lazy" width="70" alt="" class="image-9"></div>
          <p class="paragraph feature-card-head">Immersive learning experience</p>
          <p class="paragraph feature-content">A self-pace, video based learning program to be completed in a stipulated time. Don&#x27;t quit your 9 to 5 yet and definitely don&#x27;t bunk those classes. Which is why, this course runs on your command.<br></p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-card card-padding framework-card">
          <div class="feature-img-mask"><img src="images/dottimeline2.svg" loading="lazy" width="70" alt="" class="image-7"></div>
          <p class="paragraph feature-card-head">Valuation through Assignment</p>
          <p class="paragraph feature-content">The road to glory isn’t that simple. You would be challenged and judged at each step of your journey. A multi-story building is built on a strong foundation and these assignments would ensure that you have one. <br></p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="white-card card-padding framework-card">
          <div class="feature-img-mask"><img src="images/dottimeline3.svg" loading="lazy" width="70" alt="" class="image-8"></div>
          <p class="paragraph feature-card-head">Get rewarded as you learn</p>
          <p class="paragraph feature-content">Get a chance to win The Blockchain School exclusive NFTs on course completion. Get access to resources to continue your Substrate journey for free &amp; preferred access to all future content by The Blockchain School.<br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mockups-section wf-section">
    <div class="container-div mockup-div">
      <p class="paragraph mono-para-heading">THe TBS LEARNING DASHBOARD</p>
      <h1 class="sub-head">Our own Learning Dashboard to consume exclusive Blockchain Content</h1>
      <p class="paragraph sub-text">All the content and resources will be available on our platform to get started with learning</p>
    </div>
    <div class="mockup-img-container"><img src="images/streaming-view.svg" loading="lazy" alt=""></div>
  </div>
  <div class="pos-neg-section wf-section">
    <div class="container-div">
      <p class="paragraph mono-para-heading">The question we come across most often</p>
      <h1 class="sub-head">“Is this course for me?”</h1>
      <div class="pointers-container w-row">
        <div class="column-4 w-col w-col-6">
          <div class="white-card pointer-card">
            <h1 class="pointers-heading">This program is NOT for you if...</h1>
            <ul role="list" class="list-3">
              <li class="list-with-icon-cross">You do not have a habit of grabbing new opportunities.</li>
              <li class="list-with-icon-cross">You want to rely more on theory and not on practical use of things.</li>
              <li class="list-with-icon-cross">You do not believe in real results and don&#x27;t have a strong bias toward actions.</li>
              <li class="list-with-icon-cross">You do not have a knack for rewards and incentives.</li>
              <li class="list-with-icon-cross">You believe in the concept of “Overnight Success”.</li>
            </ul>
          </div>
        </div>
        <div class="column-4 w-col w-col-6">
          <div class="white-card pointer-card">
            <h1 class="pointers-heading">This program is FOR you if...</h1>
            <ul role="list" class="list-3">
              <li class="list-with-icon-check">You are a Crypto enthusiast, Developer, Entrepreneur, or Student looking forward to exploring this space more.</li>
              <li class="list-with-icon-check">You love to consume video content and eventually learn from it.</li>
              <li class="list-with-icon-check">You want to learn practical knowledge about blockchain with Substrate &amp; Polkadot.</li>
              <li class="list-with-icon-check">You would like to get rewarded with exciting rewards tokens and NFTs.</li>
              <li class="list-with-icon-check">You are really looking for a place where you can put your thoughts into action. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section waitlist-section wf-section">
    <div class="container-div">
      <p class="paragraph mono-para-heading">Straight to substrate</p>
      <h1 class="sub-head">Join the Waitlist Now.</h1>
      <p class="paragraph sub-text date-time-heading">The Program begins on March 01, 2021.<br></p>
      <p class="paragraph sub-text margin-top waitlist-sub">Until then, we have interesting events lined up for winning exclusive rewards.<br></p>
      <div class="white-card program-feature-card">
        <h1 class="program-heading">Program Features</h1>
        <ul role="list" class="program-list">
          <li class="list-with-icon-pointer">Free course with lifetime access.</li>
          <li class="list-with-icon-pointer">Detailed assignment for the program post finishing the video content</li>
          <li class="list-with-icon-pointer">Exclusive Rewards for completing the program with assignment and participation in community activities.</li>
          <li class="list-with-icon-pointer">Guides, Roadmaps and Resources to build your next DAPP on Substrate.</li>
          <li class="list-with-icon-pointer">Community Sessions and Discord Access to The Blockchain School and the Substrate Community.</li>
          <li class="list-with-icon-pointer">Learning Platform with guarantee of future content around Blockchain.</li>
          <li class="list-with-icon-pointer">Lifetime updates on more content</li>
        </ul>
        <a href="/polkadotprogram/waitlist" data-w-id="73e427c0-9b6c-a381-955b-94cc867f9153" class="program-btn w-button">Join the Waitlist Now for Free</a>
      </div>
      <div class="pointers-container-2-col w-row">
        <div class="column-4 w-col w-col-6">
          <div class="program-img-mask"><img src="images/Waitlist-__-Near-Landing-Page.svg" loading="lazy" alt=""></div>
        </div>
        <div class="column-5 w-col w-col-6"></div>
      </div>
    </div>
  </div>
  <div id="review-section" class="section wf-section">
    <div class="container-div">
      <p class="paragraph mono-para-heading">JOURNEY SO FAR</p>
      <h1 class="sub-head">Don’t take our word for it. The numbers say it all</h1>
      <div class="num-cols w-row">
        <div class="no-padding-col w-col w-col-4">
          <div class="num-card">
            <h1 class="num-value">25000+</h1>
            <p class="paragraph num-text">Learners across our Bootcamps &amp; Community Sessions</p>
          </div>
        </div>
        <div class="no-padding-col w-col w-col-4">
          <div class="num-card">
            <h1 class="num-value">15000+</h1>
            <p class="paragraph num-text">Vibrant Community Members across social media platforms</p>
          </div>
        </div>
        <div class="no-padding-col w-col w-col-4">
          <div class="num-card">
            <h1 class="num-value">60000</h1>
            <p class="paragraph num-text">Avg. monthly minutes of consistent learning</p>
          </div>
        </div>
      </div>
      <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="mask w-slider-mask">
          <div class="w-slide">
            <div class="dark-card">
              <h1 class="review-heading">Hassle-free learning</h1>
              <p class="paragraph review-text">We were able to understand the concepts hassle-free. The main highlight of the Bootcamp was to make us find new NFTs and earn through them. I loved it.</p>
              <div class="review-flex">
                <div class="review-image-mask"><img src="/images/review-shubhamkar.png" loading="lazy" alt=""></div>
                <div class="review-right">
                  <p class="paragraph review-name">Shubhamkar Bhattacharya<br></p>
                  <p class="paragraph review-desig">Student in Tech-Field</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="dark-card">
              <h1 class="review-heading">Invaluable knowledge source</h1>
              <p class="paragraph review-text">As I am a newbie in this industry, I got invaluable knowledge from the mentor. He delivered knowledge in layman terms that shows how deeply he is involved in this field. Overall tremendous experience.Thanks.</p>
              <div class="review-flex">
                <div class="review-image-mask"><img src="/images/review-sahil.png" loading="lazy" alt=""></div>
                <div class="review-right">
                  <p class="paragraph review-name">Sahil Navnitbhai Rathod</p>
                  <p class="paragraph review-desig">Job in Tech-Field</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="dark-card">
              <h1 class="review-heading">Interactive Sessions</h1>
              <p class="paragraph review-text">The bootcamp helped me understand the most relevant subjects revolving around NFT. Given references made it smoother. The group took care of everything. Interactive session, memes...fun learning ^-^ and cool NFT giveaway too !
                Could actually feel the difference within 3 days.
                </p>
              <div class="review-flex">
                <div class="review-image-mask"><img src="/images/review-manu.png" loading="lazy" alt=""></div>
                <div class="review-right">
                  <p class="paragraph review-name">Manu Tiwari</p>
                  <p class="paragraph review-desig">Manu Tiwari</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="dark-card">
              <h1 class="review-heading">Great Mentors</h1>
              <p class="paragraph review-text">I had signed up for the bootcamp only at the last minute (literally) as I had doubts as to how useful the course would be. But, it was worth it, especially the Q&A sessions! They were good mentors. It has further increased my interest in NFT and other Blockchain applications. </p>
              <div class="review-flex">
                <div class="review-image-mask"><img src="/images/review-gauthami.png" loading="lazy" alt=""></div>
                <div class="review-right">
                  <p class="paragraph review-name">Gauthami KV</p>
                  <p class="paragraph review-desig">Job in Tech field</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="dark-card">
              <h1 class="review-heading">Easy learning with practical application</h1>
              <p class="paragraph review-text">Blockchain school and their bootcamps are one of the only places where you can learn complex topics like defi easily while also practically applying it while learning.</p>
              <div class="review-flex">
                <div class="review-image-mask"><img src="/images/review-aryan.png" loading="lazy" alt=""></div>
                <div class="review-right">
                  <p class="paragraph review-name">Aryan Singh Bais</p>
                  <p class="paragraph review-desig">Student in non tech field</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="icon w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="icon-2 w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
  <div class="section last-section wf-section">
    <div class="container-div">
      <p class="paragraph mono-para-heading">Get your doubts cleared</p>
      <h1 class="sub-head">Shoot us your queries</h1>
      <div class="white-card flex-container questions-container">
        <div class="card-image-mask question-mark"><img src="images/qq.png" loading="lazy" width="131" alt="" class="image-6"></div>
        <div class="last-right">
          <h1 class="heading last-heading">Still not convinced. Got a burning question? We’re all ears.</h1>
          <p class="paragraph last-para">Reach out to us for any questions related to process or the course.</p>
          <a href="https://t.me/theblockchainschoolhq" target="_blank" class="telegram-btn w-button">Join our Community</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61ca00b4a8f958053a1ac1c4" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>