<link rel="stylesheet" href="/css/top-note.css">

<!-- <div class="top-note">
    <a href="/waitlist">
        <p><span class="top-note-span"></span>⚡ It’s our birthday month and we’ve a surprise for you 🎉 #Road2Polygon -
            Know More ⚡</span></p>
    </a>
</div> -->
<nav class="navcontainer">
    <a href="/"><img class="header-logo" src="images/tbs-logo-light.png"></a>
    <ul class="nav-links">
        <!-- <li><a href="#about">About</a></li>
        <li><a href="#programs">Programs</a></li>
        <li><a href="#community">Community</a></li> -->
        <li><a href="https://dashboard.theblockchainschool.io">
                <button class="header-btn">
                    Dashboard
                    <!-- Join the Waitlist -->
                </button>
            </a>
        </li>
        <!-- <li><a href="#last-container">Join waitlist</a></li> -->

    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>


<div class="hero-box" id="hero-box">

    <div class="container">
        <div class="hero-container">

            <h1 class="hero-heading linear-wipe">Building Blockchain Education & Careers for Everyone</h1>
            </h1>

            <!-- <p class="hero-subheading">Blockchain Education For Everyone</p> -->

            <p class="hero-para">Your one-stop platform for everything Blockchain. Join 25,000+ learners and
                kickstart your journey.
            </p>

            <div class="hero-icon-container">

                <a href="/aboutUs" target="__blank">
                    <div class="icon-card">
                        <img src="icons/hero-icons/bolt.svg" alt="" class="icon-card-img">
                        <p>About</p>
                    </div>
                </a>

                <a href="#programs-container">
                    <div class="icon-card">
                        <img src="icons/hero-icons/programs.svg" alt="" class="icon-card-img">
                        <p>Programs</p>
                    </div>
                </a>

                <!-- <a href="#courses">
                    <div class="icon-card">
                        <img src="icons/hero-icons/courses.svg" alt="" class="icon-card-img">
                        <p>Courses</p>
                    </div>
                </a> -->


                <a href="/resources">
                    <div class="icon-card">
                        <img src="icons/hero-icons/layer.svg" alt="" class="icon-card-img">
                        <p>Resources</p>
                    </div>
                </a>

                <a href="http://blog.theblockchainschool.io/" target="__blank">
                    <div class="icon-card">
                        <img src="icons/hero-icons/blog.svg" alt="" class="icon-card-img">
                        <p>Blogs</p>
                    </div>
                </a>

            </div>

            <a href="#perks">
                <button class="hero-btn">Start Learning</button>
            </a>

        </div>
    </div>
</div>

<!-- <div class="banner-container">
    <a target="_blank" href="https://unacademy.com/course/course-on-getting-started-with-blockchain-crypto/SO5A1MJV">
        <img loading="lazy" src="/images/unacademy-banner.png">
    </a>
</div> -->


<div class="three-pillars second-container">
    <h2 class="heading-center"><span class="section-heading">The three pillars we believe in</span></h2>

    <div class="program-features">

        <div class="feature-card">
            <!-- <i class="far fa-lightbulb"></i> -->
            <div class="feature-img-cont">
                <img src="images/awareness.svg">
            </div>
            <h2 class="feature-head">Awareness</h2>
            <!-- <p class="program-para">
                Join the country's biggest and vibrant Blockchain community to meet, interact and grow in the field
                of Blockchain.
            </p> -->
            <p class="program-para">
                We are here to equip you with the right means to address the challenge associated with Blockchain,
                which is a lack of awareness of the technology. We’re here to help you know more about everything
                Blockchain with our community sessions, live cohorts and much more.

            </p>
        </div>

        <div class="feature-card">
            <!-- <i class="far fa-lightbulb"></i> -->
            <div class="feature-img-cont">
                <img src="images/education.svg">
            </div>
            <h2 class="feature-head">Education</h2>
            <p class="program-para">
                Kickstart your career in Blockchain with us - From fundamentals to Solidity and beyond: We have it
                all covered for you.
                Our exclusive Blockchain Learning Platform provides you with an immersive learning experience for
                learners across all
                the fields.
            </p>
            <!-- <p class="program-para">
                From learning fundamentals of Blockchain to becoming developer, Kickstart your career in Blockchain
                with us.
            </p> -->
        </div>
        <div class="feature-card">
            <!-- <i class="far fa-lightbulb"></i> -->
            <div class="feature-img-cont">
                <img src="images/employabillity.svg">
            </div>
            <h2 class="feature-head">Employability</h2>
            <p class="program-para">
                Are you a student looking for opportunities to work with the best companies or a company looking out
                for quality talent
                to build the next unicorn? The Blockchain School is the best place to bridge the gap between
                employers and the best
                talents.
            </p>
        </div>
    </div>
</div>


<div id="perks" class="perks second-container">
    <h2 class="heading-center"><span class="section-heading">Perks you get after joining us</span></h2>

    <div class="timeline" id="timeline">
        <div class="timeline-container">

            <div class="timeline-col">

                <div class="timeline-card">
                    <img src="images/timeline/discord.png" />
                    <!-- <div class="timeline-img">
                    </div> -->

                    <div class="timeline-content">
                        <p class="timeline-head">Join Discord Community</p>
                        <p class="timeline-para">Join The Most Vibrant Blockchain Community and Grow</p>
                    </div>
                </div>

                <div class="timeline-card">
                    <img src="images/timeline/bulb.png" />
                    <!-- <div class="timeline-img">
                    </div> -->

                    <div class="timeline-content">
                        <p class="timeline-head">Learn fundamentals with Blockchain Bootcamp</p>
                        <p class="timeline-para">Learn Blockchain Jargon-Free and start your journey with us</p>
                    </div>
                </div>

                <div class="timeline-card">
                    <img src="images/timeline/job.png" />
                    <!-- <div class="timeline-img">
                    </div> -->

                    <div class="timeline-content">
                        <p class="timeline-head">Connect With Right Opportunities and Land Your Dream Job</p>
                        <p class="timeline-para">Discover and Find the right opportunities and get your dream job
                            via Hiring Nodes</p>
                    </div>
                </div>

            </div>

            <div class="main-line-cont">
                <img class="timeline-main-line" src="images/new-timeline.svg">

            </div>

            <div id="timeline-col-2" class="timeline-col">
                <div class="timeline-card">
                    <div class="timeline-img">
                        <img src="images/timeline/events.png" />
                    </div>

                    <div class="timeline-content">
                        <p class="timeline-head">Community Events and Sessions</p>
                        <p class="timeline-para">Learn, network and grow about the new trends in ecosystem with
                            community</p>
                    </div>
                </div>
                <div class="timeline-card">
                    <div class="timeline-img">
                        <img src="images/timeline/developer.png" />
                    </div>

                    <div class="timeline-content">
                        <p class="timeline-head">Become a Blockchain Developer with Specialized programs</p>
                        <p class="timeline-para">Become a certified Blockchain Developer and Start your career</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="timeline-container-mobile">


            <div class="timeline-card">
                <img src="images/timeline/discord.png" />
                <!-- <div class="timeline-img">
                </div> -->

                <div class="timeline-content">
                    <p class="timeline-head">Join Discord Community</p>
                    <p class="timeline-para">Join The Most Vibrant Blockchain Community and Grow</p>
                </div>
            </div>


            <div class="timeline-card">
                <img src="images/timeline/events.png" />
                <!-- <div class="timeline-img">
                </div> -->

                <div class="timeline-content">
                    <p class="timeline-head">Community Events and Sessions</p>
                    <p class="timeline-para">Learn, network and grow about the new trends in ecosystem with
                        community.</p>
                </div>
            </div>


            <div class="timeline-card">
                <img src="images/timeline/bulb.png" />
                <!-- <div class="timeline-img">
                </div> -->

                <div class="timeline-content">
                    <p class="timeline-head">Learn fundamentals with Blockchain Bootcamp</p>
                    <p class="timeline-para">Learn Blockchain Jargon-Free and start your journey in Blockchain with
                        us.</p>
                </div>
            </div>

            <div class="timeline-card">
                <img src="images/timeline/developer.png" />
                <!-- <div class="timeline-img">
                </div> -->

                <div class="timeline-content">
                    <p class="timeline-head">Become a Blockchain Developer with Masterclass Blockchain</p>
                    <p class="timeline-para">Become a certified Blockchain Developer and Start your career with our
                        masterclass program.</p>
                </div>
            </div>

            <div class="timeline-card">
                <img src="images/timeline/job.png" />
                <!-- <div class="timeline-img">
                </div> -->

                <div class="timeline-content">
                    <p class="timeline-head">Connect With Right Opportunities and Land Your Dream Job</p>
                    <p class="timeline-para">Discover and Find the right opportunities and get your dream job via
                        Hiring Nodes.</p>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="num-div" class="number-div second-container">
    <h2 class="heading-center"><span class="section-heading">Age or background isn’t a barrier in your journey of
            learning Blockchain</span></h2>
    <img class="laptop-mockup" src="images/mockup2.png">

    <div class="num-container">
        <div class="num-card">
            <h1><span id="number1">0</span></h1>
            <p>Learners</p>
        </div>

        <div class="num-card">
            <h1><span id="number2">0</span></h1>
            <p>Community Members</p>
        </div>
        <div class="num-card">
            <h1><span id="number3">0</span></h1>
            <p>Associated Universities</p>
        </div>
        <div class="num-card">
            <h1><span id="number4">0</span></h1>
            <p>Avg. monthly minutes of attendance / learning</p>
        </div>

    </div>
</div>



<div class="black-container">
    <div id="programs-container" class="programs-container">

        <h3><span class="section-heading">Our Programs</span></h3>
        <div class="programs-inner-container">

            <div class="program-top">
                <div class="left-container">
                    <h1 class="program-heading">
                        <span class="bullet-mark">•</span>

                        <span class="program-heading-color3">
                            NFT Bootcamp
                        </span>
                    </h1>

                    <p class="program-caption">A 3- Day Bootcamp to learn about unique digital assets</p>
                    <p class="program-para limit-para">
                        NFTs have become very popular recently but very few people actually know, What are NFTs? This 3
                        day Bootcamp will help
                        you uncover the road to NFT, their working, use cases, and hands-on with buying your first NFT.
                    </p>

                    <!-- <a href="https://bootcamp.theblockchainschool.io/" target="__blank">
                        <button class="scale-btn">Applications Open<i style="margin-left: 0.5rem;"
                                class="fas fa-external-link-alt"></i></button> -->
                    <a onclick="https://bootcamp.theblockchainschool.io/">
                    <button class="scale-btn">Applications Now Closed<i style="margin-left: 0.5rem;"
                            class="fas fa-lock"></i></button>

                    </a>
                </div>
                <div class="right-container">
                    <img class="program-image" src="images/nft-image.svg">
                </div>

            </div>

            <div class="program-features">

                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/basic.svg">
                    <h2 class="feature-head">Ace the foundation & fundamentals of NFTs</h2>
                    <p class="program-para">
                        The Bootcamp will brush your fundamentals and provide you a clear understanding of wallets,
                        tokens, and all things
                        related to NFT!
                    </p>
                </div>

                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/jargon.svg">

                    <h2 class="feature-head">Learn about NFTs in jargon-free language</h2>
                    <p class="program-para">
                        If you are someone who finds it difficult to cope with the complex terms, then this Bootcamp is
                        for you. The course is
                        structured in a simple way for anyone to learn about NFTs.
                    </p>
                </div>
                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/map.svg">

                    <h2 class="feature-head">Exclusive NFT E-Guide, Roadmap, and Career Sessions</h2>
                    <p class="program-para">
                        Get exclusive resources, tutorials, and a roadmap to help you give clarity and direction. Not
                        only this, we have a very
                        active and helping community which is all you need!
                    </p>
                </div>
            </div>


            <div class="program-top">
                <div class="left-container">
                    <h1 class="program-heading">
                        <span class="bullet-mark">•</span>

                        <span class="program-heading-color1">
                            Solidity Bootcamp
                        </span>
                    </h1>

                    <p class="program-caption">A 5-Week Program to help you learn Ethereum Blockchain</p>
                    <p class="program-para limit-para">
                        This program will help you learn Ethereum Blockchain, Smart Contracts & Building your
                        first DApp on Blockchain and
                        start your career as a Blockchain Developer.
                    </p>

                    <a onclick="return false">
                        <button class="scale-btn">Applications Closed<i style="margin-left: 0.5rem;"
                                class="fas fa-lock"></i></button>
                    </a>
                </div>
                <div class="right-container">
                    <img class="program-image" src="images/solidity-image.svg">
                </div>

            </div>

            <div class="program-features">

                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/certificate.svg">
                    <h2 class="feature-head">Become a Certified Blockchain Developer</h2>
                    <p class="program-para">
                        With live sessions, we make sure that each and every doubt of yours is cleared. Our way of
                        teaching and constant interactions would
                        help you learn better and quicker.
                    </p>
                </div>

                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/blockchain.svg">

                    <h2 class="feature-head">Build Your First Decentralised App</h2>
                    <p class="program-para">
                        Decentralised Apps or DApps are currently the talk of the town. In this bootcamp, we ensure
                        that you become highly skilled in creating your own DApp from anywhere between basic to
                        advanced difficulty.
                    </p>
                </div>
                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/job.svg">

                    <h2 class="feature-head">Start your Career as a Blockchain Developer</h2>
                    <p class="program-para">
                        After the complete program, you can start your career in the field of blockchain and can
                        find a job in no-time. Hiring Nodes, a platform to find jobs in Blockchain would help you do
                        this.
                    </p>
                </div>
            </div>

            <div class="program-top">
                <div class="left-container">
                    <h1 class="program-heading">
                        <span class="bullet-mark">•</span>

                        <span class="program-heading-color2">
                            Blockchain Bootcamp
                        </span>
                    </h1>

                    <p class="program-caption">8-day blockchain bootcamp</p>
                    <p class="program-para limit-para">
                        Learning and understanding Blockchain can be difficult and full of jargons, and we simplify
                        it for you at this weekly recurring Blockchain
                        Bootcamp. Learn Blockchain in a simple and fun way without any prerequisites
                    </p>

                    <!-- <p class="program-para limit-para">
                        Learning and understanding Blockchain can be difficult and full of jargons, and that's what
                        we help you simply at the Blockchain Bootcamp. Learn Blockchain in a jargon-free, simple and
                        fun way without any
                        prerequisite or knowledge. An experience you'll fall in love with it. Come see what the
                        future looks like :)

                    </p> -->

                    <a onclick="return false">
                        <button class="scale-btn">Applications Closed<i style="margin-left: 0.5rem;"
                                class="fas fa-lock"></i></button>
                    </a>

                </div>
                <div class="right-container">
                    <img src="images/bootcamp-image.svg">
                </div>
            </div>


            <div class="program-features">
                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/basic.svg">

                    <h2 class="feature-head">Learn Basic Fundamentals of Blockchain</h2>
                    <p class="program-para">
                        Learn, code and build live with industry mentor and community. Start easy with the basics
                        and eventually create a To-do App on Blockchain and case study on Voting App on blockchain.

                    </p>
                </div>

                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/jargon.svg">

                    <h2 class="feature-head">Understand blockchain in jargon-free language</h2>
                    <p class="program-para">
                        Don't worry about not understanding or getting confused about blockchain terms ever again.
                        At TBS, learn Blockchain in the most easiest and simplest way.

                    </p>
                </div>
                <div class="feature-card">
                    <!-- <i class="far fa-lightbulb"></i> -->
                    <img class="feature-img" src="icons/program-icons/map.svg">

                    <h2 class="feature-head">Exclusive Blockchain E-Guide, Roadmap and Career Sessions</h2>
                    <p class="program-para">
                        Get exclusive resources, tutorials and roadmap to help you give clarity and direction. Not
                        only this, we have a very active and helping community which is all you need to grow in
                        blockchain.
                    </p>
                </div>
            </div>


            <!-- <div id="courses" class="courses">

                <h1 class="program-heading">
                    <span class="bullet-mark">•</span>
                    <span class="program-heading-color3">
                        Popular Courses
                    </span>
                </h1>

                <div class="course-container">

                    <div class="course-card">
                        <div>
                            <img src="images/essence.png">
                            <h2>Blockchain Essence</h2>
                            <p class="program-para">
                                The course will brace you with all key concepts of blockchain and make you well
                                versed in the overall idea of the
                                technology- its past and the present.

                            </p>

                        </div>

                        <a href="https://learn.theblockchainschool.io/product/blockchain-essence/" target="__blank">
                            <button class="small-btn scale-btn">Explore</button>
                        </a>

                    </div>

                    <div class="course-card">
                        <div>

                            <img src="images/usecase.png">
                            <h2>Blockchain Use Cases 1.0</h2>
                            <p class="program-para">
                                In this course we will study the implementation of blockchain in sectors like
                                manufacturing, public healthcare and
                                understand the real world use case of the tech

                            </p>
                        </div>
                        <a href="https://learn.theblockchainschool.io/product/blockchain-usecases-1-0/"
                            target="__blank">
                            <button class="small-btn scale-btn">Explore</button>
                        </a>
                    </div>

                    <div class="course-card">
                        <div>
                            <img src="images/introto.png">
                            <h2>Introduction to Hyperledger and Ethereum</h2>
                            <p class="program-para">
                                The first step to blockchain development is the study of various blockchain
                                platforms. This course will give you a brief
                                idea about two core blockchain platforms: Ethereum & Hyperledger.

                            </p>
                        </div>

                        <a href="https://learn.theblockchainschool.io/product/introduction-to-hyperledger-ethereum/"
                            target="__blank">
                            <button class="small-btn scale-btn">Explore</button>
                        </a>

                    </div>

                </div>
            </div> -->
        </div>

    </div>
</div>

<div class="blue-container" style="position: relative;">
    <div class="trailer-container" style="position: relative;">
        <h2 class="heading-center" style="margin-bottom: 3rem;"><span class="section-heading">Presenting our exclusive
                course on Polygon Ecosystem</span></h2>

        <div style="position: relative; padding-top: 51.13636363636363%;">
            <iframe
                src="https://iframe.mediadelivery.net/embed/11234/eaa9e690-ebab-464e-a7fa-4f5a9eaca6f4?autoplay=false"
                style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"
                allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                allowfullscreen="true"></iframe>
        </div>
    </div>
</div>




<!-- <div class="black-container">
    <div class="mentors-container">

        <div class="mentor-content">
            <h1 class="type3-heading">Learn from the best mentors</h1>
            <p class="type3-para">Bringing you the best minds from the ecosystem to help you learn Blockchain, start
                your career and find your dream job.</p>
        </div>

        <div class="mentor-images">

            <div class="mentor-ellipse">
            </div>

            <div class="mentor-card mentor-inactive">
                <div class="mentor-pic">
                    <img src="images/mentor-saurabh.png">
                </div>
                <div class="mentor-images-2">
                    <p class="mentor-name">Saurabh Sharma</p>
                    <p class="mentor-desig">Non technical & Career Mentor</p>
                    <p class="mentor-desc">Founder at TBS, Marketing lead at The Dapp List, Advisor to several
                        blockchain projects.</p>

                    <div class="mentor-socials">
                        <a href="https://www.instagram.com/saurabh_personified " target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/theyoungdoer" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                        <a href="http://linkedin.com/in/iamsaurabh21" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div>

            <div class="mentor-card">
                <div class="mentor-pic">
                    <img src="images/mentor-rinkesh.png">
                </div>
                <div class="mentor-images-2">
                    <p class="mentor-name">Rinkesh Gorasia</p>
                    <p class="mentor-desig">Lead Instructor & Chief of Learning at The Blockchain School</p>
                    <p class="mentor-desc">Rinkesh the Founder of Upskill India and Former Founder & CEO Savior
                        Technologies and has
                        over 3 years of experience in
                        Blockchain domain.</p>

                    <div class="mentor-socials">
                        <a href="https://www.instagram.com/rinks__g/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/rinks__g" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/rinksg/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="mentor-card  mentor-inactive">
                <div class="mentor-pic">
                    <img src="images/mentor-sarthak.png">
                </div>
                <div class="mentor-images-2">
                    <p class="mentor-name">Sarthak Sharma</p>
                    <p class="mentor-desig">Crypto Mentor & Analyst at The Blockchain School</p>
                    <p class="mentor-desc">Trader, Defi Enthusiast Researching, investing and trading Crypto Assets
                        since 2017</p>

                    <div class="mentor-socials">
                        <a href="https://www.linkedin.com/in/sarthak1806" target="_blank">
                            <i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>




        <div class="mentor-images2">

            <div class="mentor-card">
                <div class="mentor-pic">
                    <img src="images/mentor-saurabh.png">
                </div>
                <div class="mentor-images-2">
                    <p class="mentor-name">Saurabh Sharma</p>
                    <p class="mentor-desig">Non technical & Career Mentor</p>
                    <p class="mentor-desc">Founder at TBS, Marketing lead at The Dapp List, Advisor to several
                        blockchain projects.
                    </p>

                    <div class="mentor-socials">
                        <a href="https://www.instagram.com/saurabh_personified " target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/theyoungdoer" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                        <a href="http://linkedin.com/in/iamsaurabh21" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>



            <div class="mentor-card">
                <div class="mentor-pic">
                    <img src="images/mentor-rinkesh.png">
                </div>
                <div class="mentor-images-2">
                    <p class="mentor-name">Rinkesh Gorasia</p>
                    <p class="mentor-desig">Lead Instructor & Chief of Learning at The Blockchain School</p>
                    <p class="mentor-desc">Rinkesh the Founder of Upskill India and Former Founder & CEO Savior
                        Technologies and has over 3 years of experience in
                        Blockchain domain.</p>

                    <div class="mentor-socials">
                        <a href="https://www.instagram.com/rinks__g/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/rinks__g" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/rinksg/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>

            </div>

            <div class="mentor-card">
                <div class="mentor-pic">
                    <img src="images/mentor-sarthak.png">
                </div>
                <div class="mentor-images-2">
                    <p class="mentor-name">Sarthak Sharma</p>
                    <p class="mentor-desig">Crypto Mentor & Analyst at The Blockchain School</p>
                    <p class="mentor-desc">Trader, Defi Enthusiast Researching, investing and trading Crypto
                        Assets since 2017</p>

                    <div class="mentor-socials" id="sarthak-linkedin">
                        <a href="https://www.linkedin.com/in/sarthak1806" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>


        </div>



    </div>
</div> -->

<div class="blue-container">

    <div class="companies">
        <h2 class="heading-center" style="text-align: center;"><span class="section-heading"
                style="color:white;">Partnerships and Collaborations</span>
        </h2>
        <!-- <p class="companies-para">We have partnered with established organization in our country in our journey of
            Blockchain Education.</p> -->

        <div class="logo-container">
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/wazirx-logo-new.png">
                <!-- <h2>Official Education Partner</h2> -->
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/certifID-logo-new.png">
                <!-- <h2>Blockchain Enabled Certification</h2> -->
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/epns.png">
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/iotex.png">
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/paxg.png">
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/pnt.png">
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/stacks.png">
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/tezos.png">
            </div>
            <div class="partner remove-partner">
                <!-- <img class="partner-logo" src="images/collab-logos/toko.png"> -->
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/toko.png">
            </div>
            <div class="partner">
                <img class="partner-logo" src="images/collab-logos/unilend.png">
            </div>
            <div class="partner remove-partner">
                <!-- <img class="partner-logo" src="images/collab-logos/toko.png"> -->
            </div>
        </div>

    </div>



    <!-- <img class="partner-logo" src="images/certifID-logo-new.png"> -->

</div>
</div>
</div>

<div class="review-bg">
    <div class="review-container">
        <div class="review-left">
            <!-- <h2><span class="type3-heading" style="color: #8e5dff;">What people think about us</span></h2> -->
            <h1 class="type3-heading">What people think about us</h1>

            <p class="type3-para">Here are some of the best reviews from the students who have been part of our
                programs and courses.
            </p>
        </div>

        <div class="review-right">


            <div class="glide multi">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">

                        <li class="glide__slide">
                            <div class="review-card">
                                <div class="review-pic">
                                    <img src="images/reviews/jason.jpg">
                                </div>
                                <div class="review-images-2">
                                    <p class="review-name">Jason Fernandes</p>
                                    <p class="review-desig">Blockchain Expert, Founder, TokenJay.TV</p>

                                    <p class="review-desc">TheBlockchainSchool.io solves a pressing need in the
                                        blockchain industry for competent professionals. At TokenJay.TV, we view
                                        every attempt at education in this space as a positive development
                                        for the industry. I think TBS could just have the secret sauce that
                                        separates
                                        great ed-tech companies from their more mediocre competitors.
                                    </p>

                                </div>
                            </div>
                        </li>

                        <li class="glide__slide">
                            <div class="review-card">
                                <div class="review-pic">
                                    <img src="images/reviews/chirag.jpeg">
                                </div>
                                <div class="review-images-2">
                                    <p class="review-name">Chirag Shah</p>
                                    <p class="review-desig">Master of Cyber Security, RMIT University, Australia.
                                    </p>
                                    <p class="review-desc">The Blockchain School helped to understand cryto and
                                        blockchain hype happening all over the world. They simplified the
                                        topic with trailblazing infographics and generally arranged, separated by
                                        topics and levels of expertise. For anyone seeking to learn more about the
                                        blockchain, I highly recommend them. I really appreciate the hard work they
                                        put into it.
                                    </p>

                                </div>
                            </div>
                        </li>


                        <li class="glide__slide">
                            <div class="review-card">
                                <div class="review-pic">
                                    <img src="images/reviews/nikhil.jpeg">
                                </div>
                                <div class="review-images-2">
                                    <p class="review-name">Nikhil Vankar</p>
                                    <p class="review-desig">Student, Charles Sturt University, Australia</p>
                                    <p class="review-desc">Greetings to everyone at The Blockchain School, I
                                        recently completed my course on Blockchain from the TBS. I’m
                                        especially impressed with the quality of your content. As an Information
                                        engineer, for me, it’s necessary to stay
                                        abreast of all technological developments within my field. Blockchain being
                                        a relatively new technology, it is strenuous
                                        to find profound & detailed subject matter with the ease.</p>

                                </div>
                            </div>
                        </li>

                        <li class="glide__slide">
                            <div class="review-card">
                                <div class="review-pic">
                                    <img src="images/reviews/arijitdas.jpg">
                                </div>
                                <div class="review-images-2">
                                    <p class="review-name">Arijit Das</p>
                                    <p class="review-desig">Student, Manipal University Jaipur</p>
                                    <p class="review-desc">
                                        While learning blockchain, The problem I faced was that the
                                        available resources for Blockchain were either
                                        explained in brief or were too alien for my understanding. As soon as The
                                        Blockchain School launched, I started the Blockchain essence
                                        course. I was immediately hooked because of the way of explaining in simple
                                        form using animations. It was very insightful.
                                    </p>

                                </div>
                            </div>
                        </li>



                    </ul>
                </div>

                <div class="glide__bullets" data-glide-el="controls[nav]">
                    <button class="glide__bullet" data-glide-dir="=0"></button>
                    <button class="glide__bullet" data-glide-dir="=1"></button>
                    <button class="glide__bullet" data-glide-dir="=2"></button>
                    <button class="glide__bullet" data-glide-dir="=3"></button>
                </div>

                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow_left" data-glide-dir="<">
                        <i class="fas fa-angle-left"></i></button>
                    <button class="glide__arrow glide__arrow_right" data-glide-dir=">">
                        <i class="fas fa-angle-right"></i></button>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="black-container">
    <div class="hall-of-fame-container">
        <div class="hall-of-fame-container">
            <div class="hall-of-fame-left">
                <!-- <h2><span class="type3-heading" style="color: #8e5dff;">TBS Hall of Fame</span></h2> -->
                <h1 class="type3-heading">TBS Hall of Fame</h1>

                <p class="type3-para">Featuring the top-performing and the most active people in The Blockchain
                    School Community.</p>
            </div>

            <div class="hall-of-fame-right">
                <div class="boundary-blur">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blue-container">
    <div class="media-section second-container">
        <h2><span class="section-heading">Media Mentions</span></h2>

        <div class="media-container">
            <div class="media-card">
                <div>
                    <h3>WATCH: Why Pune-based TheBlockchainschool.io wants to make students industry-ready</h3>
                    <p class="media-date">YourStory</p>
                </div>
                <a href="https://yourstory.com/2019/07/startup-pune-blockchain-school-skill-training/amp"
                    target="__blank">
                    <button class="small-btn scale-btn">Read More</button>
                </a>
            </div>

            <div class="media-card">
                <div>
                    <h3>The Blockchain School Partners with BlockConf.Digital to Reinforce Indian Blockchain
                        Community.</h3>
                    <p class="media-date">Disrupt Magazine</p>
                </div>
                <a href="https://disruptmagazine.com/the-blockchain-school-partners-with-blockconf-digital-to-reinforce-indian-blockchain-community/"
                    target="__blank">
                    <button class="small-btn scale-btn">Read More</button>
                </a>
            </div>

            <div class="media-card">
                <div>
                    <h3>The Blockchain School: Demystifying Blockchain Technology</h3>
                    <p class="media-date">CIOReviewIndia</p>
                </div>


                <a href="https://education.cioreviewindia.com/vendor/2019/the_blockchain_school" target="__blank">
                    <button class="small-btn scale-btn">Read More</button>
                </a>
            </div>



        </div>

        <div class="last-container">
            <div class="last-left">
                <h2><span class="last-heading">Ready to be a part of the 1% Club?</span></h2>
                <h2><span class="last-subheading">Join us on these platforms today.</span></h2>

                <div class="last-socials">
                    <a href="https://www.instagram.com/theblockchainschool" target="_blank"><img
                            src="icons/insta-icon.svg"></i></a>
                    <a href="https://discord.gg/dUPa5bRbVh" target="_blank"><img src="icons/discord-icon.svg"></i></a>
                    <a href="https://wa.me/message/MQ6XXPGFMTAOH1" target="_blank"><img
                            src="icons/whatsapp-icon.svg"></i></a>
                </div>

            </div>

            <div class="last-right">
                <img src="/images/last-bitcoin.png">
            </div>

        </div>

    </div>


</div>