

    <link rel="icon" href="/images/title-icon.png" type="image/x-icon">

    <!-- <link rel="stylesheet" type="text/css" href="css/layout_db.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/waitlist.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</head>

<body class="index-body">

    <div id="waitlist-container" class="waitlist-container">
        <!-- <img class="mesh-bg" src="images/mesh-bg.svg"> -->
        
        <div class="reset-pass">

            <header>
                <div class="header-logo">
                    <!-- <img src="images/logo-new.png"> -->
                </div>

                <!-- <a href="dashboard.html"><h3><i class="fas fa-angle-left "></i> Back to dashboard</h3></a> -->


            </header>

            <div class="promo-text-container">
                <img class="top-img" src="/images/main.svg" alt="">
                <img class="top-img-2" src="/images/main-2.svg" alt="">

                <!-- <h1 class="text-head">Polygon x The Blockchain School</h1> -->
                <!-- <p>The Blockchain School brings you the best content to get started with Polygon ecosystem. It's our birthday and we
                    have decided to gift you a curated content after toiling in days & nights. We are really
                    excited to onboard you on this journey. 🤩<br> Subscribe to the waitlist to be one of the first to get access.</p> -->

            </div>

            <div class="success-container">
                <p class="success-heading">You have successfully registered for early access 💐</p>

                <div class="refer-container">
                    <p class="refer-heading">Break the queue for early invite by referring 3 or more friends/colleagues</p>

                    <p class="refer-subheading">This course on Polygon is exclusive, driven with incentives in $MATIC; you don't want to miss it! Plus its always fun
                    with friends around you!</p>
                        
                        <div id="copied-message" class="copied-message">
                            <span>Copied to clipboard</span>
                        </div>


                        <div class="link-input">
                           
                            <a id="link-url" class="link-url">theblockchainschool.io/waitlist/<%=code%></a>
                            <div class="copy-btn">
                                <i class="fas fa-link" onclick="showCopiedMessage()"></i>
                            </div>
                        </div>
                        
                        <p>Share your referral directly on these channels</p>
                        <div class="alternate-options">
                            <div class="platforms">
                                <a target="__blank" href="https://twitter.com/intent/tweet?text=Wohoo%20%F0%9F%8E%89%20%40theblockchainsc%20turns%202%20this%20month%20%F0%9F%A4%A9%0A%0AJust%20registered%20for%20their%20invite-only%20course%20on%20Polygon%20%2B%20Platform%20launch%20%F0%9F%9A%80%20%0A%0ACome%20join%20in%3A%20theblockchainschool.io%2Fwaitlist%2F<%=code%>%0A%0A%23Road2Polygon%20%23TBSTurns2%20%E2%9D%A4%EF%B8%8F%0A%0AP.S%20Early%20access%20also%20lets%20you%20earn%20Crypto%20Rewards%20%F0%9F%91%8B">
                                    <img src="/images/twitter.svg">
                                </a>
                                <a href="whatsapp://send?text=Wohoo 🎉 The Blockchain School turns 2 this month 🤩. I’ve just registered for their invite-only ed-series/course on Polygon & a newly built platform for Learners 🥳. Come join in: theblockchainschool.io/waitlist/<%=code%>
                                
                                P.S Early access also let’s you earn Crypto Rewards 🤑🚀" data-action="share/whatsapp/share" target="_blank"> 
                                    <img src="/images/whatsapp.svg">
                                </a>
                            </div>
                        </div>
                        
                        <a class="info-link" href="https://theblockchainschool.notion.site/Learn-Earn-Road2Polygon-9361e029108d4e87ba3d744806a14aa6">Know more about how this works <i class="fas fa-arrow-right"></i></a>
                </div>

            </div>

        </div>

    </div>




    <script src="/js/waitlist.js"></script>
    <script>
        function showCopiedMessage() {
            document.getElementById("copied-message").style.display = "inline";
            setTimeout(function () {
                document.getElementById('copied-message').style.display = 'none'
            }, 2000);

            var aux = document.createElement("input");

            // Get the text from the element passed into the input
            aux.setAttribute("value", document.getElementById("link-url").innerHTML);

            // Append the aux input to the body
            document.body.appendChild(aux);

            // Highlight the content
            aux.select();

            // Execute the copy command
            document.execCommand("copy");

            // Remove the input from the body
            document.body.removeChild(aux);

            return false
        }
    </script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-27L9709E70"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-27L9709E70');
    </script>
</body>

</html>